## Panda

Docs: https://pandas.pydata.org/docs/getting_started/index.html

##### Installation Pandas

```bash
pip install pandas

# ou

python -m pip install pandas
```

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Nom" : ['Jean Claude', "Madame Applon", "Jeannette", "Imprevue"],
    "Age" : [55, 40, 35, 22],
    "Genre": ['m', 'f', 'f', 'm']
})


print(df)

             Nom  Age Genre
0    Jean Claude   55     m
1  Madame Applon   40     f
2      Jeannette   35     f
3       Imprevue   22     m

In [4]:
print(df["Nom"])

0      Jean Claude
1    Madame Applon
2        Jeannette
3         Imprevue
Name: Nom, dtype: object

In [5]:
# men = df[ df["Genre"] == "m" ]
# print(men)

women = df[ df["Genre"] == "f" ]
# print(women)

age_after_35_years = women[ women["Age"] > 35 ]
print(age_after_35_years)

             Nom  Age Genre
1  Madame Applon   40     f

In [6]:
print(df.T)

                 0              1          2         3
Nom    Jean Claude  Madame Applon  Jeannette  Imprevue
Age             55             40         35        22
Genre            m              f          f         m

In [7]:
jean_claude = df[ df["Nom"] == "Jean Claude"]

print(jean_claude)

           Nom  Age Genre
0  Jean Claude   55     m

In [8]:
data = df.loc[[0, 2], ["Nom", "Genre"]]

print(data)

           Nom Genre
0  Jean Claude     m
2    Jeannette     f

In [9]:
data = df.iloc[[0, 2], [0, 2]]

print(data)

           Nom Genre
0  Jean Claude     m
2    Jeannette     f

In [10]:

df = pd.DataFrame(
    data=[[63, 55], [37, 45]],
    index=['Homme', 'Femme'],
    columns=["Ouest", "Nord"]
)

print(df)

       Ouest  Nord
Homme     63    55
Femme     37    45

In [11]:
print(df['Nord'])

Homme    55
Femme    45
Name: Nord, dtype: int64

In [13]:
df.to_csv('dataframe.csv')